body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo-container {
  margin-top: 3%;
  margin-left: 3%;
}

.logo {
  width: 20%;
  height: auto;
}

main{
  /*accentro tutto*/
  text-align: center;
  margin:auto 0;
}

h1 {
  color: white;
  padding-top: 12vh;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  color: hotpink;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

li {
  color: white;
}

label {
  display: flex;
  align-items: center;
  color: white;
}

label input[type="checkbox"] {
  margin-right: 8px;
}
<<<<<<< HEAD

.checkbox-button-container {
  color: white;
  background-color: rgb(0, 255, 213);
  padding: 5px 10px;
  border-radius: 4px;
=======
.center {
  text-align: center;
}
.button-type1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #00ffff;
  box-shadow: #2f8cb8 0px 5px 25px;
  padding: 1em 3em;
}
.button-type2 {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: white solid 0.2em;
  padding: 1em 3em;
  box-shadow: #2f8cb8 0px 5px 25px;
}
.button-type-question {
  background-color: rgba(99, 99, 99, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 1em 4em;
>>>>>>> main
}


