body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo-container {
  margin-top: 3%;
  margin-left: 3%;
}

.logo {
  width: 20%;
  height: auto;
}
main h1 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
main p {
  font-family: "Outfit", serif;
  font-weight: bold;
  font-size: 3rem;
  margin: auto;

}
#Review {
  /*accentro tutto*/
  width: 55%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: white;
  padding-top: 12vh;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Review h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  text-shadow: none;
  font-weight: bold;
}

#Review p {
  font-size: 1.8em;
}

h2 {
  color: hotpink;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

li {
  color: white;
}

label {
  display: flex;
  align-items: center;
  color: white;
}

label input[type="checkbox"] {
  margin-right: 8px;
}
.center {
  text-align: center;
}
.button-type1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #00ffff;
  box-shadow: #2f8cb8 0px 5px 25px;
  padding: 1em 3em;
}
.button-type2 {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: white solid 0.2em;
  padding: 1em 3em;
  box-shadow: #2f8cb8 0px 5px 25px;
}
.button-type-question {
  display: inline;
  background-color: rgba(99, 99, 99, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  width: 49.6%;
  padding: 1.5em 10em;
  margin: 2em auto 0 auto;
}
.button-type-question-selected {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(169, 1, 133, 1) 12%
  );
}
.force-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.comment {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 2em 0;
  padding: 0 3em;
}

#Review i {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
  color: #00ffff;
}

.left {
  text-align: left;
}

#Review input {
  font-size: 1em;
  margin-bottom: 0;
}

#Review hr {
  border-color: #c2128d;
  margin-top: 0;
  margin-bottom: 50px;
}
#question-number {
  text-align: center;
  color: #ece8f1;
  font-weight: bold;
  font-size: 1.6em;
  margin: 20% 0 0 0;
}
