body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.logo-container {
  margin-top: 3%;
  margin-left: 3%;
  
  height: auto;
}

.logo {
  width: 20%;
  height: auto;
  font-size: 16px;
}
/* main */
main h1 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 4rem;
  margin: auto;
  padding-left: 2rem;
}
main p {
  font-family: "Outfit", serif;
  font-weight: bold;
  font-size: 4rem;
  margin: auto;
  text-align: left;
  padding-left: 2rem;
}
article h2 {
  margin: 2rem;
  padding-top: 1rem;
  font-family: "Outfit", serif;
  color: #da00b5;
  font-weight: bold;
  text-align: left;
}
article p {
  font-family: "Outfit", serif;
  text-align: left;
  margin: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 2px;
  padding-left: 2rem;
}
li span {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 0;
}
aside {
  font-family: "Outfit", serif;
  color: white;
  padding-bottom: 35px;
  padding-top: 150px;
  padding-left: 3rem;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  font-family: "Outfit", serif;
  margin: 4px;
  padding-left: 3rem;
  padding-top: 3rem;
}
li {
  margin: auto;
  padding-left: 2.5rem;
  padding-top: 1rem;
  font-family: "Outfit", serif;
  font-size: 20px;
}
.right {
  text-align: right;
  padding-right: 15%;
  margin-right: 20%;
}

#Review {
  
  width: 55%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  color: white;
  padding-top: 12vh;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Review h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  text-shadow: none;
  font-weight: bold;
}

#Review p {
  font-size: 1.8em;
}

h2 {
  color: hotpink;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

li {
  color: white;
}

label {
  display: flex;
  align-items: center;
  color: white;
}

label input[type="checkbox"] {
  margin-right: 8px;
}
.center {
  text-align: center;
}
.button-type1-deactivated {
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #63636366;
  box-shadow: inset 0px 0px 61px 0px rgba(0, 0, 0, 1);
  padding: 1em 3em;
}
.button-type1 {
  font-weight: bold;
  color: rgba(29, 28, 28, 0.644);
  text-decoration: none;
  background-color: #00ffff;
  box-shadow: #2f8cb8 0px 5px 25px;
  padding: 1em 3em;
}
.button-type2 {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: white solid 0.2em;
  padding: 1em 3em;
  box-shadow: #2f8cb8 0px 5px 25px;
}
.button-type-question {
  display: inline;
  background-color: rgba(99, 99, 99, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  height: 25%;
  width: 49.6%;
  padding: 1.5em 10em;
  margin: 2em auto 0 auto;
  
}

.button-type-question-selected {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(169, 1, 133, 1) 12%
  );
}
.force-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.comment {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 2em 0;
  padding: 0 3em;
}

#Review i {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
  color: #00ffff;
}

.left {
  text-align: left;
}

#Review input {
  font-size: 1em;
  margin-bottom: 0;
}

#Review hr {
  border-color: #c2128d;
  margin-top: 0;
  margin-bottom: 50px;
}
#question-number {
  text-align: center;
  color: #ece8f1;
  font-weight: bold;
  font-size: 1.6em;
  margin: 20% 0 0 0;
}


.circle-timer {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-family: "Inter";
}

.progress-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(rgba(211, 211, 211, 0.5) 360deg, transparent 0deg);
  mask: radial-gradient(circle, transparent 46%, white 50%);
  -webkit-mask: radial-gradient(circle, transparent 46%, white 50%);
}
/* mask e -webkit-mask (per compatibilità con browser basati su WebKit, come Safari e alcune versioni di Chrome) applicano una maschera radiale al cerchio del timer. Questo effetto crea un buco trasparente al centro del cerchio, rendendo visibile solo la parte esterna (la progress bar). Senza mask il cerchio sarebbe pieno.*/
.progress-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#00ffff 360deg, transparent 0deg);
  mask: radial-gradient(circle, transparent 46%, white 50%);
  -webkit-mask: radial-gradient(circle, transparent 46%, white 50%);
}

.circle-timer::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: none;
  border-radius: 50%;
}

#timer {
  position: absolute;
  z-index: 10;
  font-weight: bold;
  font-family: "Inter";
}
/* z-index assicura che il testo con i secondi rimanenti rimanga sopra la barra di progresso. Senza z-index, il numero potrebbe finire dietro gli altri elementi e diventare invisibile */
.text_top {
  position: absolute;
  top: 40px;
  font-size: 10px;
}

.text_bottom {
  position: absolute;
  bottom: 40px;
  font-size: 10px;
}
/* section domande */
section #question-text{
  font-family: "Outfit", serif;
  color: white;
  padding-top: 150px;
  padding-left: 3rem;
  text-align: center;
}
section p{
  font-size: 25px;
  font-family: "Outfit", serif;
}
